<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>The relative path to product images</description>
        <param-name>categoryImagePath</param-name>
        <param-value>img/categories/</param-value>
    </context-param>
    <context-param>
        <description>The relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>img/products/</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletControlador</servlet-name>
        <servlet-class>controlador.ServletControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControlador</servlet-name>
        <url-pattern>/ServletControlador</url-pattern>
        <url-pattern>/categoria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>JSP configuration for the store front</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            
        </jsp-property-group>
    </jsp-config>
</web-app>
