body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 20px auto;
    color: #444;
    background-color:#F2F2F2;
}

hr {
    border: 0;
    background-color: #333;
    height: 1px;
}

table {
    margin: 0 20px;
    border-spacing: 0;
    text-align: center;
    border: solid 1px #f5eabe;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover { text-decoration: none }

a:visited { color: inherit }

img { border: none }

input, select { margin: 5px }

li { margin: 10px 0 }

label { line-height: 30px }


/* general styles */
#main { background: white }

#singleColumn {
    float: right;
    margin: 20px 30px;
    text-align: left;
}

.lightBlue { background-color: #edf8f7 }

.white { background-color: #fff }

.bubble {
    font-weight: bold;
    background-color: #f5eabe;
    padding: 5px;
    color: inherit;
}

.hMargin { margin: 0 30px }

.smallText { font-size: small }

.reallySmallText { font-size: xx-small }

.header {
    background-color: #c3e3e0;
    height: 30px;
}

/* styles for elements contained in the header, i.e.,
   shopping cart widget, language toggle, and logo */
#header {
    width: 1000px;
    height: 100px;
}
.loginBox {
    text-align: center;
    float: right;
    background-color: gainsboro;
    height: 150px;
    width: 1000px;
    color: gray;
}

#slick-login{
    display:inline-block;
    float: right;
}
#slick-login input[type="text"],#slick-login input[type="password"] {
        
	width: 120px;
	height: 25px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
        text-align: center;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
/*#slick-login input[type="password"]{
    font-size: 14px;
}*/

#slick-login input[type="submit"] {
	width: 120px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0px;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0px;

	background-color: #5466da;
	background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
/*
#slick-login input[type="submit"]:hover {
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}

#slick-login input[type="submit"]:active {
	background-color: #7588e1;
	background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}*/

#logo {
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

#logoText {
    float: left;
    margin: 20px 0 0 70px;
    /* font styles apply to text within img alt attribute */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: right;
}

#cart {
    position: absolute;
    margin: 5px 0 0 2px;
}

.horizontalMargin {
    margin-left: 28px;
    margin-right: 5px
}

#viewCart {
    text-align: left;
    width: 210px;
}

.headerWidget {
    width: 194px;
    margin: 20px 0;
    font-size: small;
    float: right;
    line-height: 25px;
}


/* footer styles */
#footer {
    height: 60px;
    width: 350px;
    clear: left;
}

#footerText { margin-top: 5px }

#footerDivider {
    margin: 0 25px;
    width: 300px;
}


/* index page styles */
#indexLeftColumn {
    text-align: left;
    height: 400px;
    width: 350px;
    float: left;
}

#indexRightColumn {
    text-align: left;
    height: 650px;
    width: 500px;
    float: left;
}

#welcomeText {
    margin: 30px 5px 0 30px;
    line-height: 1.4em;
}

.categoryBox {
    height: 176px;
    width: 212px;
    margin: 21px 14px 6px;
    float: inherit;
}

.categoryLabel {
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    height: 40px;
    width: 210px;
    margin: 2px;
}

.categoryLabelText {
    position: absolute;
    line-height: 150%;
    font-size: x-large;
    margin: 3px 10px;
}

.categoryImage {
    padding: 1px;
    border:solid 1px #555;
}


/* category page styles */
#categoryLeftColumn {
    width: 185px;
    float: left;
    margin-top: 25px;
    padding-left: 15px;
}

#categoryRightColumn {
    margin-top: 10px;
    width: 650px;
    float: left;
}

.categoryButton {
    margin: 15px 22px;
    padding: 13px;
    display: block;
    background-color: #d3ede8;
}

#selectedCategory {
    background-color: #b2d2d2;
    margin-left: 10px;
    width: 139px;
}

#categoryTitle {
    margin: -34px 180px 0 0;
    font-size: x-large;
    float: right;
    background-color: #f5eabe;
    padding: 7px;
}

.categoryText {
    line-height: 25px;
    font-size: x-large;
}
#tituloOpcion {
    margin: -34px 0 20px 0;
    color: white;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
    float: left;
    background-color: #5b6ddc;
    
    padding: 7px;
}
#subtituloOpcion {
    margin: 10px 100px 20px 0;
    color: black;
    font-size: medium;
    text-align: left;
    float: left;
    
    padding: 7px;
}
#productTable { width: 700px }

#productTable tr { height: 90px }

#productTable td { width: 145px }


.productDetail {
    background-color: whitesmoke;
    margin-left: 10px;
    height: 500px;
    width: 770px;
}
.productText {
    line-height: 100%;
    font-size: x-large;
    text-align: center;
}
.productDescription {
    line-height: 150%;
    text-align: justify;
    float: left;
    background-color: ghostwhite;
    margin-left: 10px;
    margin-top: 10px;
    height: 350px;
    width: 490px;
    color: gray;
    
}
.productImage {
    border: 2px solid rgba(127, 127, 127, .4);
    text-align: left;
    float: left;
    background-color: ghostwhite;
    margin-left: 10px;
    margin-top: 10px;
    height: 250px;
    width: 250px;
    color: gray;
}

.productImage75 {
    text-align: center;
    float: left;
    overflow: hidden;
    line-height: 1;
    background-color: white;
    margin-left: 10px;
    height: 75px;
    width: 75px;
    color: gray;
            position:                   relative;
        display:                    block;
        overflow:                   hidden;
}
.relatedProducts{
    line-height: 10%;
    float: left;
    background-color: ghostwhite;
    margin-left: 10px;
    margin-top: 10px;
    height: 120px;
    width: 620px;
    color: gray;
}
.productImage75 .textpI75 {
        color:                      #333;
        width:                      75px;
        height:                     20px;
        overflow:                   hidden;
        font-size:                  .95em;
        line-height:                1;
        text-align:     			center;
        
    }

/* cart page styles */
#actionBar {
    margin: 30px;
    width: 750px;
    text-align: center;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable { width: 750px }

#cartTable td {
    width: 145px;
    height: 90px;
}


/* checkout page styles */
#checkoutTable {
    width: 405px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
}

#checkoutTable td {
    vertical-align: top;
    text-align: right;
    margin: 5px;
}

.inputField { width: 190px ;
height: 32px}
.inputField2{
    width: 120px;
	height: 40px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
}
#infoBox { padding: 10px 25px 0 460px }

#priceBox {
    padding: 10px;
    border: 1px solid #c3e3e0;
    background-color: #c3e3e0;
}

#priceBox td {
    text-align: right;
    padding: 5px;
}

.checkoutPriceColumn {
    width: 80px;
    font-weight: bold;
}

.total { border-top: 1px solid #444 }


/* confirmation page styles */
#confirmationText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
}

.summaryColumn {
    margin-top: 15px;
    width: 50%;
    float: left;
}

.tableHeading {
    font-weight: bold;
    background-color: #edf8f7;
}

.detailsTable { text-align: left }

.detailsTable th { padding: 5px 10px }

.detailsTable td {
    padding: 5px 10px 5px 20px;
    font-size: small;
    font-family: "Courier New", courier, monospace;
}

#orderSummaryTable { width: 100% }

#deliveryAddressTable {
    width: 70%;
    margin-left: 15%;
}

#deliveryAddressTable td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.quantityColumn {
    text-align: center;
    width: 62px;
}

.confirmationPriceColumn {
    width: 90px;
    font-weight: normal;
}

#deliverySurchargeCellLeft {
    text-align: right;
    padding: 0;
}

#deliverySurchargeCellRight { padding: 0 20px }

#totalCellLeft {
    text-align: right;
    padding: 0;
}


#totalCellRight { padding: 0 20px }

#dateProcessedRow { padding: 2px 0 10px 20px }

/*CSS administrador*/

#loginBox {
    width: 300px;
    margin: 0 auto;
    border: solid 1px #f5eabe;
    background-color: #f5eabe;
    border-radius: 4px;
}

#adminMenu {
    float: left;
    width: 180px;
    margin: 25px 5px 0 30px;
    border: solid 1px #f5eabe;
    background-color: #f5eabe;
    border-radius: 4px;
}

#adminMenu p { margin-left: 15px }

#adminTable {
    width: 580px;
    float: left;
    background-color: #edf8f7;
}

.alignLeft { text-align: left }

.selectedRow {
    background-color: #c3e3e0;
    cursor: pointer;
}

.noDecoration { text-decoration: none }

.rigidWidth { width:200px }

.embedded {
    margin: 0;
    border: none;
}

.create_btn{
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;

	background:#3d3d3d;
	float:right;
        /*margin-left: 50px;*/
	height:25px;
        padding: 5px 5px 5px 0px;
}

.create_btn:hover{
    background:#656565;
}

.create_btn span{
    color:#fff;
    padding:0 10px 0 10px;
    text-align:center;
    position: relative;
    top: 4px;
    left: 1px;
}

/*product_form style*/

#container {
    display: none;
    float:right;
    text-align: left;
    margin:10px;
}

#product_form {
    position: relative;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-shadow: inset 0px -2px 1px #888, -3px 3px 4px #ccc;
    border-radius: 5px;
    padding: 1px 20px 60px 20px;
}

fieldset { 
    padding:0; 
    border:0; 
    margin-top:25px; 
}

.close_btn {
    float:right;
    padding-top: 10px; 
}

.insert_form_text {
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    height: 32px;
    width: 205px;
    padding-left: 10px;
    margin-left: 10px;
    font-family: Georgia, times, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: cornflowerblue;
}

#textArea {
    width: 455px;
    height: 90px;
    padding-right: 10px;
}

#input_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
    height: 32px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    text-shadow: 1px 1px 0px #888;
    border-width: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #bbb;
    background: -webkit-gradient(linear, left top, left bottom, from(#8FBFF7), to(#4678D7));
    -webkit-box-shadow: inset 0px -1px 1px #888, 0px 2px 2px #ccc;
    box-shadow: inset 0px -1px 1px #888, 0px 2px 2px #ccc;
    cursor: pointer;
}

#input_btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#4678D7), to(#8FBFF7));
}
