/* 
    Document   : jshop-style2
    Created on : Apr 15, 2013, 4:45:53 AM
    Author     : Jesus
    Description:
        Purpose of the stylesheet follows.
*/

#header_wrapper {
	background: #d8d8d8;
	height:56px;
}
#header {
	margin:0px auto;
	width:960px;
}
h1 {
	float:left;
	font-size:14px;
	color:#fff;
	margin-top:20px;
}
h2 {
	color:#19677e;
	font:italic 15px Georgia,times,sans-serif;
        margin-bottom: -6px;
}
.login_btn {
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	margin-top:11px;
	background: #0074cc;
	float:right;
	height:32px;
}
.reg_btn {
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	margin-top: 11px;
        margin-right: 14px;
	background:#3d3d3d;
	float:right;
        /*margin-left: 50px;*/
	height:32px;
}
.reg_btn:hover {
	background:#656565;
}
.login_btn span {
	color:#fff;
	float:left;
	padding:0 10px 0 10px;
	text-align:center;
	margin-top: 8px;
}
.cancel_btn {
        border:none;
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	background: #cc0033;
        margin-top: 9px;
        margin-right: 9px;
	float:right;
	height:32px;
}
.cancel_btn:hover {
	background:red;
}
.cancel_btn {
        border:none;
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	background: #cc0033;
        margin-top: 9px;
        margin-right: 9px;
	float:right;
	height:32px;
}
.cancel_btn:hover {
	background:red;
}

.red_btn {
        border:none;
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	background: #cc0033;
        margin-top:9px;
        margin-right: 9px;
	float:right;
	height:32px;
}
.red_btn:hover {
	background:red;
}
.google_btn {
        border:none;
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-size:13px;
        background: #dc4d38 url(../img/google.png) no-repeat;
        margin-top:9px;
        margin-right: 9px;
	float:right;
        width: 120px;
	height:32px;
}
.google_btn:hover {
	background:red url(../img/google.png) no-repeat;
}
.google_btn span {
	color:#fff;
	float:right;
	padding:0 10px 0 10px;
	text-align:center;
	margin-top: 8px;
}
.cancel_btn span {
	color:#fff;
	float:left;
	padding:0 10px 0 10px;
	text-align:center;
	margin-top: 8px;
}
.reg_btn span {
	color:#fff;
	float:left;
	padding:0 10px 0 10px;
	text-align:center;
	margin-top: 8px;
}

.triangle {
	float:left;
	width:0px;
	height:0px;
	margin:14px 9px 0 0;
	border-left:5px solid transparent;
	/* left arrow slant */
	border-right:5px solid transparent;
	/* right arrow slant */
	border-top:5px solid #fff;
	/* bottom,add background color here */
	font-size:0px;
	line-height:0px;
}
/*#content {
	height:733px;
	background:url('img/bg.jpg') center;
}*/
#login_box {
	display:none;
	position:absolute;
	width:236px;
	margin:2px 0 0 732px;
}
#reg_box {
	display:none;
	position:absolute;
	width:236px;
	margin:2px 0 0 622px;
}
#tab {
	background:#fff;
	/*width:91px;*/
	float:right;
	height:53px;
}
#tab .login_btn {
	float:left;
	margin:9px 9px 0 9px;
}

#tab .reg_btn {
	float:left;
	margin:9px 9px 0 9px;
}
#login_box_content {
	background:#fff;
	/*border-top-left-radius:5px;*/
	/*border-bottom-left-radius:5px;*/
	/*border-bottom-right-radius:5px;*/
	float:left;
	width:236px;
        height: auto;
        margin-top: 53px;
        position: absolute;
        z-index: 1111;

}
#reg_box_content {
	background:#fff;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	float:right;
	width:auto;
}

#reg_form {
	margin:9px 0 0 9px;
}
#datosLogin {
	border:1px solid white;
	border-radius:3px;
	height:420px;
	width:420px;
	margin-top:5px;
        float: left;
        
	padding-left:10px;
       background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
#datosDireccion {
	border:1px solid #d8d8d8;
	border-radius:3px;
	background: #ccc;
	height:420px;
	width:420px;
	margin-top:5px;
        margin-left: 40px;
        float: right;
	padding-left:10px;
       background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
#login_form input[type=text],#login_form input[type=password] {
	border:1px solid #d8d8d8;
	border-radius:3px;
	font:italic 14px Georgia,times,sans-serif;
	height:32px;
	width:180px;
        text-align: center;
	margin-top:5px;
	padding-left:10px;
}
.login_btn span {
	color:#fff;
	float:left;
	padding:0 10px 0 10px;
	text-align:center;
	margin-top: 8px;
}

#formulario_registro{
    background-color: white;
}
#formulario_registro td {
    color: white;
    text-align: right;
}
#formulario_registro tr {
    text-align: left;
}
#formulario_registro hr {
    border: 0;
    background-color: black;
    height: 1px;
}
.styled-select select {
   width: 190px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
    border:1px solid #d8d8d8;
   height: 37px;
	border-radius:3px;
	font:italic 14px Georgia,times,sans-serif;
	margin-top:10px;
	padding-left:5px;
        border-right: #a9a9a9 1px solid;
   -webkit-appearance: none;
   }